# vim:ts=2:sw=2:et
language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0

before_install:
  - sudo apt-get install php-pear
  - sudo pear install --alldeps PHPUnit2

script:
  - cd test && wget -q -O - https://raw.github.com/atk14/Atk14/master/src/scripts/run_unit_tests | php
