# vim:ts=2:sw=2:et

dist: precise

language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2

before_install:
  - composer update --dev

script:
  - ./vendor/bin/phpunit test/link_finder_test.php
