# vim:ts=2:sw=2:et

dist: trusty

language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - nightly

before_install:
  - composer update --dev

script:
  - cd test && ../vendor/bin/run_unit_tests
